# This compose file defines the external services
# required to run the Docware

volumes:
  pgdata:
    name: pgdata
    driver: local
  minio-data:
    name: minio-data
    driver: local
  gcs-data:
    name: gcs-data
    driver: local

services:
  postgres:
    image: docker.io/library/postgres:17-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data

  pubsub-emulator:
    image: gcr.io/google.com/cloudsdktool/google-cloud-cli:emulators
    container_name: pubsub-emulator
    command: sh -c 'gcloud beta emulators pubsub start --host-port=0.0.0.0:8085'
    ports:
      - "8085:8085"
    restart: unless-stopped

  firestore-emulator:
    image: gcr.io/google.com/cloudsdktool/google-cloud-cli:emulators
    container_name: firestore-emulator
    command: sh -c 'gcloud beta emulators firestore start --host-port=0.0.0.0:8086'
    ports:
      - "8086:8086"
    restart: unless-stopped

  firestore-datastore-emulator:
    image: gcr.io/google.com/cloudsdktool/google-cloud-cli:emulators
    container_name: firestore-datastore-emulator
    environment:
      - MINISERVE_VERSION=0.32.0
      - MINISERVE_PATH=/usr/local/bin/miniserve
    command:
      - sh
      - -c
      - |
        curl -L https://github.com/svenstaro/miniserve/releases/download/v$${MINISERVE_VERSION}/miniserve-$${MINISERVE_VERSION}-$(arch)-unknown-linux-gnu -o $${MINISERVE_PATH} &&
        chmod +x $${MINISERVE_PATH} &&
        mkdir -p /srv &&
        $${MINISERVE_PATH} --port 9999                                              \
          --upload-files                                                            \
          --mkdir                                                                   \
          --enable-tar-gz                                                           \
          --on-duplicate-files=overwrite                                            \
          --route-prefix /fs                                                        \
          --header "Access-Control-Allow-Origin: *"                                 \
          --header "Access-Control-Allow-Methods: GET, POST, PUT, DELETE, OPTIONS"  \
          --header "Access-Control-Allow-Headers: *"                                \
          /srv &
        gcloud beta emulators firestore start --database-mode=datastore-mode --host-port=0.0.0.0:8087
    ports:
      - "8087:8087"
      - "9999:9999"
    restart: unless-stopped

  storage-emulator:
    image: docker.io/fsouza/fake-gcs-server:latest
    container_name: storage-emulator
    command: -scheme http
    restart: unless-stopped
    environment:
      - PORT=4443
    ports:
      - "4443:4443"
    volumes:
      - gcs-data:/data


  gcp-emulator-ui:
    image: ghcr.io/drehelis/gcp-emulator-ui:main
    container_name: gcp-emulator-ui
    ports:
      - "9090:80"
    environment:
      - PUBSUB_EMULATOR_URL=host.docker.internal:8085
      - FIRESTORE_EMULATOR_URL=host.docker.internal:8086
      - DATASTORE_EMULATOR_URL=host.docker.internal:8087
      - DATASTORE_FILE_SERVER_URL=host.docker.internal:9999
      - STORAGE_EMULATOR_URL=host.docker.internal:4443
    depends_on:
      - pubsub-emulator
      - firestore-emulator
      - firestore-datastore-emulator
      - storage-emulator
    restart: unless-stopped
